* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: "Open Sans";
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    width: 1010px;
    margin: 0 auto;
    padding: 0 15px;
}

a:hover, button:hover {
    opacity: 0.7;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.noCall:hover {
    border-bottom: none;
}

.catalogMenu a:hover {
    border-bottom: none;

}

.invistLink {
    position: relative;
    z-index: 1;
}

.invistLink > a {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
    overflow: hidden;
    text-indent: 200%;
    word-space: nowrap;
}

.topLine {
    display: table;
    width: 100%;
}

.topLine > div {
    display: table-cell;
    width: 33%;
    vertical-align: top;
}

.topLine .logo {
    text-align: center;
}

.topLine .right {
    text-align: right;
}

header {
    border-top: 8px solid #64ba4a;

}

header .login {
    font-size: 13px;
    line-height: 18px;
    color: #0069b4;
}

header .menu a {
    font-size: 13px;
    line-height: 28px;
    color: #333333;
   
}

header .tel {
    font-size: 20px;
    line-height: 20px;
    color: #333333;
    text-decoration: none;
}

header .noCall {
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    color: #0069b4;
    border-bottom: 1px dashed #0069b4;
}

header .time {
    font-size: 13px;
    line-height: 19px;
    color: #999999;
}

header .basket {
    font-size: 13px;
    line-height: 22px;
    color: #299c53;
    text-decoration: none;
    display: inline-block;
    padding-left: 28px;
    background-repeat: no-repeat;
    background-position: left center;
}

header .basket span {
    color: #333333;
}

header [class*="icon"] {
    color: #caebd4;
    padding-right: 10px;
}

header .login [class*="icon"] {
    font-size: 18px;
}

header .tel [class*="icon"] {
    font-size: 20px;
}

header .logo img {
    height: 140px;
    width: 155px;
}

header .menu {
    width: 305px;
    height: 75px;
}

.menu li {
    display: inline-block;
    margin-right: 18px;
}

.advantages .item span {
    font-size: 41px;
    font-weight: bold;
    line-height: 17px;
    color: #333333;
}

.banner .left {
    width: 305px;
    height: 365px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner .right {
    width: 640px;
    height: 365px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner {
    display: flex;
    justify-content: space-between;
}

/*блок преимуществ*/
.subscribe {
    width: 320px;
    float: left;
}

.advantages {
    width: calc(100% - 320px);
    float: left;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}

.advantages .item p {
    font-size: 12px;
    line-height: 14px;
    color: #666666;
}

.advantages .item img {
    width: 40px;
    height: 40px;
}

.subscribe label {
    font-size: 16px;
    color: #ffffff;
}

.subscribe {
    background-color: #64ba4a;
}

.subscribe input {
    font-size: 13px;
    line-height: 37px;
    color: #999999;
}

.subscribe button {
    font-size: 13px;
    line-height: 37px;
    text-align: center;
    color: #ffffff;
    display: table-cell;
    vertical-align: middle;
    width: 188px;
    background-color: #259c47;
}

.subscribe .wrap {
    display: table;
    width: 100%;
}

.subscribe .wrap span {
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}

.catalogMenu li {
    display: inline-block;
}

.catalogMenu li + li {
    margin-right: 18px;
}

.catalogMenu li {
    font-size: 13px;
    line-height: 16px;
}

.catalogMenu li a {
    text-decoration: none;
    color: #666666;
    border-bottom: 1px dashed #666666;
}

.cards .card {
    font-size: 15px;
    line-height: 22px;
    color: #333333;
}

.cards .photo {
    width: 220px;
    height: 220px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.card {
    position: relative;
}

.status {
    position: absolute;
    display: block;
    top: -3px;
    left: -3px;
    width: 43px;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
}

.status.hit {
    background-color: #6eddcc;
}

.status.discount {
    background-color: #ffed03;
}

.card {
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 9px;
}

.card a {
    font-size: 15px;
    line-height: 22px;
    color: #0069b4;
}

.card .price {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #333333;
}

.card .price .old {
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    color: #666666;
    text-decoration: line-through;
}

.card button {
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.socials h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    color: #666666;
}

.tabs li a {
    font-size: 14px;
    text-decoration: none;
    line-height: 45px;
    color: #999999;
}

.info .content {
    font-size: 12px;
    line-height: 18px;
    color: #333333;
}

.info .title {
    text-transform: uppercase;
}

.orderList li {
    padding-left: 40px;
}

.orderList label {
    position: relative;
    padding-left: 40px;
    margin-left: -40px;
    font-size: 13px;
    line-height: 19px;
    color: #333333;
}

.radioBtn {
    display: none;
}

.radioBtn:not(checked) + label::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    border: 2px solid #d4d4d4;
    border-radius: 50%;
    transition: all 0.3s;
}

.radioBtn:not(checked) + label::after {
    content: '';
    display: block;
    position: absolute;
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    background-color: #51bf87;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.3s;
}

.radioBtn:checked + label::before {
    border-color: #51bf87;
}

.radioBtn:checked + label::after {
    opacity: 1;
}

.radioBtn + label {
    cursor: pointer;
}

.map {
    position: relative;
    width: 100%;
    height: 320px;
}

.map iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

.acardion .title {
    padding-left: 25px;
    position: relative;
}

.acardion .title::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333333;
    /*border-bottom: 5px solid black;*/
    /*background-color: #333333;*/
    position: absolute;
    left: -5px;
    top: 7px;
}

footer {
    font-size: 13px;
    line-height: 22px;
    color: #ffffff;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

footer a.soc {
    font-size: 21px;
}

footer {
    background-color: #64ba4a;

}

/*назначить дивам классы в подвале*/
footer > div > div > ul {
    width: 50%;
    float: left;
}

footer > div > div > div {
    width: 25%;
    float: left;
}


/*Корпоративным клиентам*/
.order {
    width: 340px;
    float: left;
}

.discriptionClient {
    width: calc(100% - 340px);
    float: left;
}

.titleOrder {
    width: 280px;
}

.titleOrder span {
    font-size: 13px;
    line-height: 22px;
    color: #333333;
    text-decoration: none;
}

.order .titleOrder a {
    font-size: 13px;
    line-height: 22px;
    color: #333333;
    text-decoration: none;

}

.form > div {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    width: 280px;
    padding-top: 16px;
}

.clientForm input {
    height: 30px;
}

.clientForm label {
    font-size: 13px;
    line-height: 22px;
    font-style: italic;
    color: #aaaaaa;
}

.clientForm .logoIn {
    display: flex;
    flex-direction: column;
}

.clientForm #num {
    width: 85px;
    height: 30px;
}

.clientForm #date {
    width: 110px;
}

.clientForm #message {
    width: 285px;
    height: 125px;
}

.clientForm .logoIn span:last-child {
    font-size: 11px;
    color: #999999;
}

.clientForm .btnY label, .btnN label {
    font-size: 13px;
    line-height: 22px;
    color: #666666;
    font-style: normal;

}

.btnOrange input {
    font-size: 14px;
    line-height: 22px;
    color: white;
    background-color: #ff7200;

}

.discriptionClient .list {
    width: 615px;
    padding-bottom: 8px;
}

.discriptionClient span {
    font-size: 25px;
    line-height: 22px;
    color: #333333;
    font-weight: 600;
}

.discriptionClient .list p {
    font-size: 13px;
    line-height: 22px;
    color: #333333;
    font-weight: 400;
    padding: 16px 0px;
}

.btnGreen input {
    font-size: 14px;
    line-height: 22px;
    color: white;
    background-color: #64ba4a;

}

.form .clientForm:nth-child(5) span {
    font-size: 11px;
    color: #999999;
}





